{% extends "base.html" %}

{% block body %}

<div class="flex flex-wrap justify-center place-content-evenly">

    {% for form in forms %}

    <div class="mygrid-item opacity-75 p-7 rounded-xl shadow-md w-full md:w-1/3 lg:w-1/4 p-4 max-w-lg p-5 m-5">
        <div class="font-semibold text-xl p-1">
            {{ form.name }}
        </div>
        <div class="p-1">
            Created by {{ form.user_name }}
        </div>
        <div class="p-1">
            <ul class="list-disc pl-5">
                {% for field in form.fields %}
                <li>{{ field.title }}</li>
                {% endfor %}
            </ul>
        </div>
        {% set number_of_submissions = form.number_of_submissions() %}
        <div class="font-semibold p-1">
            Submissions: {{ number_of_submissions }}
        </div>

        {% if number_of_submissions > 0 %}
            <button class="bg-greenish rounded-xl p-3 my-2 font-bold shadow-md" style="color: #ffffff">
                <a href="/submissions?formId={{ form.id | string }}">View submissions</a>
            </button>
        {% endif %}
    </div>

    {% endfor %}

    {% if forms | length == 0 %}
    <div class="mygrid-item opacity-75 p-7 rounded-xl shadow-md w-full md:w-1/3 lg:w-1/4 p-4">
        <div class="p-1">
            You don't have any forms.
        </div>
        <div class="p-1">
            Create a form in slack by running:
        </div>
        <div class="p-1 font-consolas">
            /{{ SLASH_COMMAND }} create
        </div>
    </div>
    {% endif %}

</div>

{% endblock body %}
