<div class="w-full">
    <div class="flex justify-between items-center lg:flex-row flex-col w-full">
        <div class="flex lg:justify-start justify-center lg:w-1/3">
            <img src="../static/logo_100x100.png" alt="Logo" class="rounded-lg drop-shadow-md m-3">
            <h1 class="forminder m-3">Forminder</h1>
        </div>
        <div class="lg:w-1/3 text-3xl text-center py-5">
            {% for nav in navs %}
                {% if nav.path %}
                    <a href="{{ nav.path }}"><span class="text-2xl underline">{{ nav.title }}</span></a>
                {% else %}
                    <span class="text-3xl">{{ nav.title }}</span>
                {% endif %}
                {% if not loop.last %}
                    <span class="text-2xl"> / </span>
                {% endif %}
            {% endfor %}
        </div>
        <div class="lg:w-1/3 text-right p-5 underline">
            <a href="/logout">Logout</a>
        </div>
    </div>
</div>
