{% extends "base.html" %}

{% block body %}

    <div class="flex justify-around">
        <div>
            <span>
                Export as
            </span>
            <select name="export" id="export" class="p-2 m-1 rounded-md shadow">
                <option value="csv">CSV</option>
                <option value="xlsx">XLSX</option>
            </select>
            <button id="download-btn" class="mybutton p-2 m-1 rounded">
                Download
            </button>
        </div>
    </div>

    <div class="flex flex-wrap justify-center place-content-evenly">

    {% for submission in submissions %}

    {% call card() %}
        <div class="p-2">
            <div>
                Submitted by {{ submission.user_name }}
            </div>
            <div>
                on {{ submission.formatted_date }} at {{ submission.formatted_time }}
            </div>
        </div>

        {% for field in submission.fields %}
            <div class="p-2">
                <div class="font-semibold">
                    {{ field.display_title }}
                </div>
                <div>
                    {{ field.value }}
                </div>
            </div>
        {% endfor %}

    {% endcall %}

    {% endfor %}

    {% if submissions | length == 0 %}
    <div class="mygrid-item opacity-75 p-7 rounded-xl shadow-md w-full md:w-1/3 lg:w-1/4 p-4">
        <div class="p-1">
            There are no submissions for this form.
        </div>
        <div class="p-1">
            Schedule the form in slack by running:
        </div>
        <div class="p-1 code">
            /{{ SLASH_COMMAND }} list
        </div>
        <div class="p-1">
            and then pressing "Schedule".
        </div>
        <div class="p-1">
            Or fill it without scheduling by pressing "Fill now".
        </div>
    </div>
    {% endif %}

</div>

<!-- Pagination -->
<div class="flex justify-center">

    <div class="m-3">
        {% if page > 1 %}
        <a href="{{ url_for('submissions_view', formId=form_id, page=1, per_page=per_page) }}" class="p-3 underline">First</a>
        <a href="{{ url_for('submissions_view', formId=form_id, page=page-1 if page > 1 else 1, per_page=per_page) }}" class="p-3 underline">Previous</a>
        {% endif %}
        {% set last_page = (total // per_page) + (1 if total % per_page > 0 else 0) %}
        <span class="p-3">
        Page {{ page }} of {{ last_page }}
        </span>
        {% if page < last_page %}
        <a href="
                {{ url_for('submissions_view', formId=form_id, page=page+1 if page * per_page < total else page, per_page=per_page) }}" class="p-3 underline">Next</a>
        <a href="{{ url_for('submissions_view', formId=form_id, page=(total // per_page) + (1 if total % per_page > 0 else 0), per_page=per_page) }}" class="p-3 underline">Last</a>
        {% endif %}
    </div>
</div>
<!-- /Pagination -->

{% endblock %}

{% block scripts_bottom %}
<script>
    const exportCsvUrl = "{{ url_for('export_submissions_csv', formId=form_id) }}";
    const exportXlsxUrl = "{{ url_for('export_submissions_xlsx', formId=form_id) }}";

    document.getElementById("download-btn").addEventListener("click", function() {
        let exportType = document.getElementById("export").value;
        window.location.href = exportType === 'csv' ? exportCsvUrl : exportXlsxUrl;
    });
</script>
{% endblock %}
